* {
  box-sizing: border-box;
}

html {
  background-color: black;
  color: white;
}

header{
  display: flex;
  justify-content: center;
}

h1{
  margin: 0.2em 0;
}

main {
  display: flex;
  justify-content: center;
  height:70vh;
}

section{
  display: flex;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  margin: 0 2vw;
}

.controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: outset rgb(50,50,50) 2px;
  padding:0;
}

.controls *{
  margin: 0.1em 0;
}

.controls span {
  display: inline-block;
  width: 1.1em;
  text-align: center;
}

.play-decorator{
  border: double gold 5px;
  width: calc(((70vh)*16/20));
  height: 100%
}

.play-matrix{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.play-matrix .debug {
  background-color: rgb(50,50,50);
}

.play-matrix div{

  border: solid rgb(10,10,10) 0.1px;
}

.play-matrix div.debug{
  color: grey;
  font-size: 6px;
}

.play-matrix div:nth-child(-n +64){
  background-color: hotpink;
  display: none;
}
.play-matrix div:nth-child(-n +64).debug{
  display: inherit;
}

@media only screen and (max-width: 900px) {
  section{
    flex-direction: column-reverse;
  }
  .info{
    align-items: center;
    margin: 0;
  }
  .info *{
    margin: 0;
  }
  ul>p {
    display: none;
  }
  .controls{
    width: calc(((90vh)*16/24));
    flex-direction: row;
    flex-wrap: wrap;
  }
}